.exercise-library-page {
    background-color: var(--block-background);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto; 
    gap: 16px;
    width: 100%; 
  }
  
  .save-button {
    background-color: #dc4e4a; 
    color: white;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: var(--round-radius);
    transition: background-color 0.3s;
  }
  



/* EXERCISE CARD */

.exercise-card {
    color: white;
    background-color: var(--block-background);
    border-radius: 10px;
    border: dashed 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 280px;
}

.exercise-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.browse-btn {
    font-size: var(--text-sm);
    padding: 0.2rem 1rem;
}

.circuit-description{
    color: var(--secondary-color);
    width: 90%;
    border-radius: 15px;
    padding: 15px;
}
.circuit-description::placeholder{
    color: var(--secondary-color);
}