.staff-content {
  padding: 10px;
  margin-bottom: 10px;
}

.staff-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: #033522;
}

.staff-card {
  position: relative;
  /* padding-block: 60px;
  padding-inline: 80px; */
  background-color: rgb(13, 137, 168);
  margin-left: 40px;
  margin-right: 60px;
  /* margin-bottom: 20px; */
  width: 90%;
  height: 100%;
  /* box-sizing: border-box; */
  border-radius: 10px 10px 10px 10px;
}

.staff-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
}

.staff-info::after {
  content: '';
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #ddd;
  left: 5%;
  width: 90%;
}

.staff-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
}

.staff-details {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 10px 10px;
}

.staff-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 200px;
  color: #fff;
}

.staff-schedule-date {
  font-size: 18px;
  margin: 0;
  color: #fff;
}

.left-arrow {
  margin-right: 8px;
  color: #f01313;
}

.right-arrow {
  margin-left: 8px;
  color: #f01313;
}

.schedule-info {
  width: 90%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: left; /* 强制文本靠左对齐 */
  /* justify-content: flex-start;  */
  padding-left: 80px;
  padding-top: 80px;
  display: flex !important;
  flex-direction: row;
  align-items: flex-start !important;
  gap: 100px;
}

.time-slot {
  /* position: absolute; */
  font-size: 18px;
  color: #fff;
  text-align: left;
  margin-left: 0;
  margin-top: 30px;
  box-sizing: border-box; /* 确保 padding 不影响元素尺寸 */
}

.time {
  padding-block: 20px;
  margin-bottom: 40px;
  box-sizing: border-box; /* 确保 padding 不影响元素尺寸 */
}
