* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-layout {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
  margin: 0;
}

.page-header {
  background-color: #235860;
  color: white;
  text-align: center;
  line-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.page-content {
  flex: 1;
  background-color: #e6f7ff;
}

#login-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 5px;
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: var(--round-radius);
  border: none;
  padding: 0.2em 1em;
}

.secondary-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: var(--round-radius);
  border: none;
  padding: 0.2em 0.5em;
}

.primary-icon {
  color: var(--text-color);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.menu-container {
  padding-top: 80px;
  margin-top: 80px;
}

.menu-container .ant-menu {
  width: 250px;
  background-color: #1f3a57;
  color: white;
}

.user-avatar {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.text-white {
  color: white;
}

.sidebar-container {
  background: linear-gradient(to bottom right, var(--secondary-color), var(--text-color));
}

.sidebar-menu {
  display: vertical; /* vertical layout */
  align-items: center; /* vertical center alignment */
  text-decoration: none; 
  font-size: 16px;
  background-color: transparent;
}

.sidebar-menu-item {
  background-color: #6c97b4;
  border-radius: 20px 20px 20px 20px !important;
  margin-bottom: 15px !important;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.sidebar-menu-item:hover {
  background-color: #000000 !important;
  color: #fff;
}

.sidebar-menu-item.active {
  background-color: #000;
  color: #fff;
}

.sidebar-menu-item:hover:not(.active) {
  background-color: #000 !important;
  color: #fff !important;
}

.upload-icon {
  width: var(--icon-size);
  font-size: var(--icon-size);
}

.btn{
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: var(--round-radius);
}