* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dropdown {
  background-image: url('../assets/drop_down.svg');
  background-repeat: no-repeat;
  appearance: none;
  background-position-x: 95%;
  background-position-y: center;
}

.page-content {
  flex: 1;
  background-color: #e6f7ff;
}

.primary-icon {
  color: var(--text-color);
}

.text-white {
  color: white;
}

.upload-icon {
  width: var(--icon-size);
  font-size: var(--icon-size);
}


