/* .class-card_s {
  position: relative;
  background-color: rgb(64, 160, 184);
  margin-left: 40px;
  margin-right: 60px;
  margin-bottom: 50px;
  width: 1600px;
  height: 400px;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
} */

/* .class-menu_s {
  display: flex;
} */

/* .class-info_s {
  margin-left: 80px;
} */

/* .class-info-title_s {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #fff;
} */

.edit-info_s {
  margin-left: 60px;
}

/* .edit-info-title_s {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #fff;
} */

.participant-list_s {
  margin-left: 60px;
}

/* .participant-list-title_s {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #fff;
} */

/* .participant-bar_s {
  height: 235px;
  overflow-y: scroll;
  overflow-x: hidden;
} */

.participant-bar_s::-webkit-scrollbar {
  width: 5px;
}

.participant-bar_s:hover::-webkit-scrollbar {
  width: 10px;
}

.participant-bar_s:hover::-webkit-scrollbar-thumb {
  background: #033522;
  border-radius: 3px;
}

.participant-bar_s:hover::-webkit-scrollbar-track {
  background: #a4dbec;
}
